@mixin media($device) {
  @if $device == tablet {
    @media (min-width: 48rem) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

@mixin flex-container(
  $flex: flex,
  $direction: row,
  $wrap: nowrap,
  $justify: flex-start,
  $align: stretch
) {
  display: $flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
} ;
