.homepage {
  & .about {
    min-height: 100vh;

    @include media(desktop) {
      @include flex-container();
    }

    & .image {
      @include flex-container($align: center, $justify: center);
      min-height: 50vh;
      background-color: $c-blue;

      @include media(desktop) {
        max-width: unset;
        width: 50vw;
      }

      & img {
        max-width: 100%;
      }
    }

    & .text {
      @include flex-container(
        $direction: column,
        $align: center,
        $justify: center
      );
      padding: 0 2rem;
      min-height: 50vh;
      text-align: center;
      line-height: 2;

      @include media(tablet) {
        padding: 0 5rem;
      }

      @include media(desktop) {
        max-width: unset;
        width: 50vw;
      }

      & span {
        font-size: 1.25rem;
        @include media(tablet) {
          font-size: 1.875rem;
        }
      }
    }
  }
}
